@charset "utf-8";

body {
  background: whitesmoke;
  text-align: left;
  font-family: "droid-serif", Georgia, serif;
  font-weight: 400;
  font-size: 18px;
  color: #21505F;
}

h1 {
  font-family: "futura-pt",sans-serif;
  font-size: 1.8em;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "futura-pt",sans-serif;
  font-weight: 300;
  font-size: 2.8em;
}

h3 {
  margin: 0 auto 5% auto;
  padding: 2% 2%;
  font-family: "futura-pt",sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px double white;
  text-align: center;
  color: white;
}

h4 {
  font-family: "futura-pt",sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
}

h5 {
  font-family: "futura-pt",sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

em {
  font-style: italic;
  font-size: 1.75rem;
}

li {
  list-style: none;
}

p {
  font: {
    size: 1em;
    weight: normal;
  }
  color: white;
  line-height: 1.4;
}

a, a:visited {
  .icon-link {
    text-decoration: none;
    color: rgb(255, 228, 87);
  }
}

.line-long, .line-short {
  height: 3px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
}

.line-long {
    width: 90%;
    margin: 0 5%;
    margin-top: 23px;
    z-index: 100;
  }

.line-short { width: 20%; margin: -1% auto 1% auto; }

section { h3 { width: 33%;}}

.header {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0 5%;
  text-align: left;
  z-index: 1000;
}

.logo {
  float: left;
  width: 29%;
  margin: 5px 0 0 0;
  padding: 0px;
}

.navigation {
  float: right;
  padding: 7px 0;

  li {
    display: inline-block;
    margin-left: 35px;
    font-size: 1.2em;
  }

  li:first-child {
    margin-left: -14px;
  }

  a, a:visited {
    padding-bottom: 5px;
    text-decoration: none;
    color: #439FBD;
    transition: all 250ms ease;
  }

  a:hover, a:focus {
    border-bottom: 5px solid rgb(255,228,87);
  }
}

.hero {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 0;
  padding: 4%;
  overflow: hidden;
  text-align: center;

  img {
    -webkit-user-select: none;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  img#desktop {display: block; }
  img#phone { display: none; }
}

.adjectives {
  position: absolute;
  width: 90%;
  margin: -435px auto 0 auto;
  padding: 0;
  text-align: center;

  h2 {
    margin: 0;
    padding: 10px 0;
    font-weight: 800;
    color: #21505F;
  }
}

.container {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 5% 5% 10% 5%;
  background-color: #439FBD;
}

.other-clients {
  width: 100%;
  margin: 0 0 10% 0;
  padding: 0;
  border-bottom: 1px dotted white;
}

#recent-projects { display: none; }
#clients { display: block; }

.client.omega { margin-right: 0; }

.client {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 22.75%;
  margin: 0 3% 5% 0;
  padding: 1.5%;
  background-color: white;
  text-align: center;
  vertical-align: top;
  
  p {
    display: block;
    margin: 0;
    padding: 0;
    color: #21505F;
    text-align: left;

    &.date {
      margin: 10% 0 0% 0;
      padding-top: 2%;
      text-align: center;
      font-size: 13px;
      font-style: italic;
      color: #21505F;
      border-top: 3px double #EEE;
    }
  }
}

.client-imagery {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 250ms ease;
  }
}

.client-imagery:hover {
  img { transform: scale(1.2); }
}

h5 {
  display: inline-block;
  margin: 10px auto 0 auto;
  padding: 10px 7px;
  color: #333;
  text-transform: uppercase;
  background-color: white;
  line-height: 1;
  z-index: 2000;
}

.line-title {
  width: 100%;
  height: 1px;
  margin: -19px 0 27px 0;
  padding: 0;
  background: #333;
  z-index: 100;
}

.availability, .email-me {
  display: block;
  width: 86%;
  margin: 0 auto;
  padding: 2.5% 2.5%;
  text-align: center;
  font-size: 1.95em;
  text-transform: uppercase;
  line-height: 1.3;
  color: white;
}

.availability {
  padding-top: 5%;
}

.email-me {
  width: 35%;
  margin-bottom: 5%;
  background-color: #333;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  text-transform: none;
  border: none;
  border-radius: 70px;
  vertical-align: top;

  a, a:visited {
    color: white;
    text-decoration: none;
  }
}

.email-me:hover, .email-me:focus {
  background-color: rgb(255,228,87); 
  a, a:visited { color: #439FBD; }
}

article img.computer-screen {
  float: left;
  width: 57%;
  margin: 22px 0 0 -7px;
  padding: 0;
}

.project-details {
  display: inline-block;
  width: 40%;
  margin: 37px 0 0 40px;
  padding: 0;
  text-align: left;

  a, a:visited, a h3, a:visited h3 {
    color: rgb(255, 228, 87);
    text-decoration: none;
  }

  h3 {
    display: inline-block;
    width: auto;
    margin: 0 0px 0 0;
    padding: 0;
    border: none;
  }

  h5 {
    display: block;
    font-size: 1em;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: #439FBD;
 }
}

article ul {
  display: inline-block;
  width: 45%;
  margin: 0 3% 0 0;
  padding: 0;
  vertical-align: top;

  li {
    display: inline-block;
    width: 100%;
    padding: 5% 0;
    border-bottom: 1px dotted white;
  }
}

section {
  #recent-work { text-align: center;}
}

.more {
  width: 100%;
  margin: -70px auto 100px 11px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

i.icon-double-angle-down {
  display: inline-block;
  width: 108px;
  margin: -100px 50px 100px 50px;
  padding: 36px 43px;
  background-color: white;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  color: rgb(255, 228, 87);
}

.icon-chevron-sign-right {
  display: block;
  width: 10px;
  margin-right: 5px;
  color: rgb(255,228,87);
}

.icon-long-arrow-right {
  margin-left: 15px;
  font-size: 36px;
  color: #21505F;
}

#example-1 iframe {
  position: absolute;
  top: 55px;
  left: 101px;
}

footer {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5% 5% 1% 5%;
  background-color: #333;
  text-align: left;
  overflow: hidden;
  vertical-align: bottom;

  a, a:visited {
    text-decoration: none;
    color: rgb(255,228,87);
  }

  a:hover, a:focus {
    color: rgba(0,0,0,.3);
  }

  p {
    display: inline-block;
    width: 45%;
    margin: 0px 0 0 0;
    padding: 0;
  }
}

.social-links {
  float: right;
  width: 50%;
  text-align: right;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-left: 3.5%;
    font-size: 2em;
  }
}

.copyright {
  margin: 5% 0 0 0;
  border-top: 1px dotted rgba(0,0,0,.3);

  p {
    padding-top: 1%;
    font-size: .85em;
    color: rgba(0,0,0,.3);
  }
}


/* ----------------------------------------------- Media Queries ----------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */

@media (max-width: 320px) {

  p { font-size: 1.2em; }

  .logo {
    width: 100%;

    h3 {
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 1em;
      color: #21505F;
      border: none;
      border-bottom: 3px double #21505F;
    }
  }

  .line-long { display: none; }
  .navigation li:first-child { margin-left: 0;}

  .navigation {
    display: none;
  }

  .hero {
    margin-top: 25px;

    img#desktop {display: none;}
    img#phone { display: block;}
  }

  .line-short {
    margin: 35px auto 15px auto;
  }

  .adjectives {
    margin: -244px 0 0 0;

    h2 {
      font-size: 1.15em;
    }
  }

  .wmuSlider { display: none; }
  h3#recent-work { display: none; }

  .more {
    margin: 36px auto;
    padding: 0;
  }

  i.icon-double-angle-down {
    width: 45px;
    margin: 15px 0 0 0;
    padding: 10px 15px;
    font-size: 23px;
  }

  section h3 {
    width: auto;
  }

  .other-clients {
    margin: 35px 0 0 0;
    padding-bottom: 35px;
  }

  #recent-projects { display: block; margin: 35px 0; }
  #clients { display: block; }

  .omega { margin: 0; }

  .client {
    display: inline-block;
    width: 49.5%;
    margin: 0 1% 1% 0;

    h5, .line-title, p, p.date { display: none; }
  }

  .client:nth-child(even) { margin-right: 0; }

  .client-imagery:hover {
    img { transform: none; }
}

  .availability, .email-me {
    width: 100%;
    font-size: 1.15em;
    text-align: left;
    padding-top: 15%;
  }

  .email-me {
    width: 90%;
    margin: 10px auto;
    padding: 15px 0;
    text-align: center;
  }

  footer {

    p {
      width: 100%;
    }
  }

  .social-links {
    width: 100%;
    margin: 10% auto 0 auto;
    padding: 0;

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      width: 22.75%;
      margin: 0 3% 5% 0;
      padding: 0;
      font-size: 2.6em;
      text-align: center;
    }

    li:last-child { margin-right: 0; }
  }

  .copyright {
    margin: 15% 0 4% 0;
    border-top: 1px dotted rgba(0,0,0,.3);

    p {
      padding-top: 1%;
      font-size: .85em;
      color: rgba(0,0,0,.3);
    }
  }
}

@media (max-width: 768px) {

  .logo {
    width: 55%;

    h3 {
      font-size: 1.5em;
    }
  }

  .adjectives { margin: -275px auto 0 auto; }

  .wmuSlider { display: none; }

  section h3#recent-work { display: none; }

  #recent-projects { display: block; margin: 35px 0; }

  .more { display: none; }

  .client { width: 48.5%; }

  .client h5 { font-size: 1.2em; }
  
  .client p {
    font-size: 1.2em;

    &.date {
      font-size: 1em;
    }
    
  }

  .client:nth-child(even) { margin-right: 0; }

  .email-me { width: 80%; }

  .social-links { float: none; width: 100%; margin: 0 auto; text-align: center; }
  
  .social-links li { font-size: 2.3em; }
  
  footer p {
    width: 100%;
    margin: 22px 0 0 0;
    font-size: 1.2em;
  }

  .copyright p { text-align: center; }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .logo { width: 50%; }

  .adjectives { margin: -315px auto 0 auto; }

  .wmuSlider { display: none; }

  section h3#recent-work { display: none; }

  #recent-projects { display: block; margin: 35px 0; }

  .more { margin: -10px auto 110px auto; }

  .other-clients { margin: 0 auto; text-align: center; }
  
  .client { width: 48.5%; }

  .client h5 { font-size: 1.2em; }
  
  .client p {
    font-size: 1.2em;

    &.date {
      font-size: 1em;
    }
    
  }

  .client:nth-child(even) { margin-right: 0; }

  .email-me { width: 80%; }

  .social-links { float: none; width: 100%; margin: 0 auto; text-align: center; }
  
  .social-links li { font-size: 2.3em; }
  
  footer p {
    width: 100%;
    margin: 22px 0 0 0;
    font-size: 1.2em;
  }

  .copyright p { text-align: center; }

}
