[data-effeckt-tooltip-text] {
  position: relative; }

.effeckt-tooltip-1[data-effeckt-tooltip-text]::before, .effeckt-tooltip-1[data-effeckt-tooltip-text]::after {
  opacity: 0;
  transition: 0.1s; }
.effeckt-tooltip-1[data-effeckt-tooltip-text]::after {
  content: attr(data-effeckt-tooltip-text);
  position: absolute;
  left: 100%;
  transform: translateY(50%);
  left: 155%;
  border-radius: 10px;
  background: #111b27;
  color: white;
  padding: 0.45rem 0.8rem;
  font-size: 90%;
  white-space: nowrap;
  visibility: hidden; }
.effeckt-tooltip-1[data-effeckt-tooltip-text]::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 6px solid #111b27;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  top: 116%;
  margin-top: -18px;
  left: 77%;
  margin-left: 9px; }
.effeckt-tooltip-1[data-effeckt-tooltip-text]:hover::before, .effeckt-tooltip-1[data-effeckt-tooltip-text]:hover::after {
  visibility: visible;
  opacity: 1;
  bottom: 20%;
  transition: 0.1s 0.1s; }